<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QLDVXeKhachConnectionString"
            connectionString="Data Source=DESKTOP-323KUHR\SQLEXPRESS;Initial Catalog=QLDVXeKhach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QLDichVuXeKhachConnectionString"
            connectionString="Data Source=DESKTOP-323KUHR\SQLEXPRESS;Initial Catalog=QLDichVuXeKhach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>